#btn-pedido{
    background-color: #48bfbb;
    color: white;
    width: 40px;
    height: 40px;
}

#tooltips{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#width-label{
    width: 50px;
}

#width-btn{
    width: 100px;
}
