<div class="container ">
    <div class="row col-12 my-2" >
      <table class="table table-bordered table-striped table-sm">
        
        <tbody>
          <tr>
            <th scope="row">
               Item-1
            </th>
            
            <td><label>$ &nbsp; </label>10</td>
            <td>
              <button class="btn btn-button ml-1 btn-primary">v</button>
              <button class="btn " style="background-color: #48bfbb;"> >> </button>          
  
            </td>
          </tr>
          
          <tr>
            <th scope="row">
                Item-2
            </th>
            
            <td><label>$ &nbsp; </label>12</td>
            <td>
              <button class="btn btn-button ml-1 btn-primary">v</button>
              <button class="btn btn-button " style="background-color: #48bfbb;">>></button>          
  
            </td>
          </tr> 
  
          <tr>
            <th scope="row">
                Item-3
            </th>
            
            <td><label>$ &nbsp; </label>14</td>
            <td>
              <button class="btn btn-button ml-1 btn-primary">v</button>
              <button class="btn btn-button " style="background-color: #48bfbb;">>></button>          
  
            </td>
          </tr> 
  
          <tr>
            <th scope="row">
                Item-4
            </th>
            
            <td><label>$ &nbsp; </label>16</td>
            <td>
              <button class="btn btn-button ml-1 btn-primary">v</button>
              <button class="btn btn-button " style="background-color: #48bfbb;">>></button>          
  
            </td>
          </tr> 
          
        </tbody>
      </table>     
      </div> 
    </div>
