<div class="container ">
    <div class="row col-12 my-2" >
      <table class="table table-bordered table-striped table-sm">
        
        <tbody>
          <tr>
            <th scope="row">
               Item-1
            </th>
            
            <td id="width-label"><label>$ &nbsp; </label>10</td>
            <td id="width-btn">
              <button class="btn btn-button ml-1 btn-primary" id="tooltips">
                <i class="fas fa-search"></i>
              </button>
              <button class="btn btn-button " id="btn-pedido">
                <i class="fas fa-plus-circle"></i></button>          
  
            </td>
          </tr>
          
          <tr>
            <th scope="row">
                Item-2
            </th>
            
            <td id="width-label"><label>$ &nbsp; </label>12</td>
            <td id="width-btn">
              <button class="btn btn-button ml-1 btn-primary" id="tooltips">
                <i class="fas fa-search"></i>
              </button>
              <button class="btn btn-button " id="btn-pedido">
                <i class="fas fa-plus-circle"></i>
              </button>          
  
            </td>
          </tr> 
  
          <tr>
            <th scope="row">
                Item-3
            </th>
            
            <td id="width-label"><label>$ &nbsp; </label>14</td>
            <td id="width-btn">
              <button class="btn btn-button ml-1 btn-primary" id="tooltips">
                <i class="fas fa-search"></i>
              </button>
              <button class="btn btn-button " id="btn-pedido">
                <i class="fas fa-plus-circle"></i>
              </button>          
  
            </td>
          </tr> 
  
          <tr>
            <th scope="row">
                Item-4
            </th>
            
            <td id="width-label"><label>$ &nbsp; </label>16</td>
            <td id="width-btn">
              <button class="btn btn-button ml-1 btn-primary" id="tooltips">
                <i class="fas fa-search"></i></button>
              <button class="btn btn-button " id="btn-pedido">
                <i class="fas fa-plus-circle" ></i>
              </button>          
  
            </td>
          </tr> 
          
        </tbody>
      </table>     
      </div> 
    </div>
