
<div class="container nav-bar fixed-top" id="cont-nav">  
    <div class="row py-2 ">
      <div class="col-md-4"><p class="text-white h1" id="title-nav">Delivery online</p></div>
      <div class="col-md-8 " id="btn-nav" >
      <nav class="btn-group" data-toggle="button">
        
        <a routerLink="/deliveries" type="button" class="btn"  
         id="grey">
          1- Elija su delivery
        </a>

        <a routerLink="/menu" type="button" class="btn" 
         id="grey">
          2- Hacer tu pedido
        </a>
        
        <a routerLink="/datos" type="button" class="btn" 
         id="grey">
          3- Completa tus datos
        </a>
      </nav>
    </div>
    </div>

</div>
