#cont-nav{
    background-color: #3a3e56;
    height: 60px;

    
}

#title-nav{
    margin-left: 20px;
}

#btn-nav{

    height: 40px;
    max-height: 70px;
    text-align: right;
    
}


#grey{
    background-color: #32d3c6;
    color:white;
}


#grey:focus{
    background-color: lightgray;
    color: black;
}
  



