#cont-nav{
    background-color: #3a3e56;
    height: 60px;
}

#title-nav{
    margin-left: 20px;
}

#btn-nav{
    height: 40px;
    text-align: right;    
}


 .classFalse{
    background-color: #32d3c6;
    color:white;
}

.classTrue{
    background-color: lightgray;
    color: black;
}
   



