#input-group{
    background-color:#e2e5e2;
    height: 80px;
    justify-content: center;
    max-height: 160px;
}

#card-deliv{
    width: 250px;
    height: 200px;
}

#card-body{
    background-color:#e2e5e2;
    margin-left: 0%;
    margin-right: 0%;
}

a{
    color:#48bfbb
}

#inp-bsc{

    width: 220px;
}

#margin-top{

    margin-top: 70px;
    margin-bottom: 80px;


}