<div class="container" id="margin-top">
    
  <h2 class="ml-4 mt-3">Filtros:</h2>

  <div class="container" id="input-group" >

  <div class="form-row">
    <div class="form-group col-md-3 ml-3">
      <label>Nombre:</label>
      <input type="text" class="form-control" placeholder=" Nombre" id="inp-bsc" >
    </div>
    <div class="form-group col-md-3 ml-5 ">
      <label>Descripcion:</label>
      <input type="text" class="form-control" placeholder=" Descripcion" id="inp-bsc" >
    </div>
  </div>
</div>


<div class="container-fluid mt-3">
    <h4>Deliveries:</h4>
<div class="container card-group row ">
  
        
  <div *ngFor="let deliverie of deliveries" class="col-sm-3" >
    <div class="card m-2 border-dark" id="card-deliv">
      <div class="card-header bg-primary text-white">
        <h4>{{ deliverie.name }}</h4>
      </div>
      <div class="card-body" id="card-body">
        <p class="card-text">
          {{ deliverie.description }}
        </p>
        <a routerLink="/menu" >Realizar pedido </a>
      </div>
    </div>
  </div>

 </div>
</div>
</div>