<div class="container-fluid">

<div class="my-4">
    <div class="ml-5">
  <h2 class="ml-5">Filtros:</h2>
</div>
  <div class="container" id="input-group">
    <div class="input-group">
      <label>

        <span> Nombre:</span> <br />
        <input type="text" placeholder="Nombre:"/>
      </label>

      <div class="ml-5">
        <label>
          <span> Descripcion: </span> <br />
          <input type="text" placeholder="Descripcion:"/>
        </label>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
    <h4 class="ml-5">Deliveries:</h4>
<div class="container card-group">
        
  <div *ngFor="let deliverie of deliveries">
    <div class="card m-2 border-dark" id="card-deliv">
      <div class="card-header bg-primary text-white">
        <h4>{{ deliverie.name }}</h4>
      </div>
      <div class="card-body" id="card-body">
        <p class="card-text">
          {{ deliverie.description }}
        </p>
        <a href="#" >Realizar pedido </a>
      </div>
    </div>
  </div>
 </div>
</div>
</div>