#input-td{

    width: 35px;
}
#color-tr{
    color: white;
}

#total-tr{
    background-color:#e2e5e2;
}

#container-pedido{
    margin-top: 60px;

}

#precio-unitario{

    width: 130px;
}

#total{
    
    width:70px
}

